html {
  background: #000000;
  color: white;
}

main {
  padding-top: 4.6rem;
}

.artists-list {
  box-sizing: border-box;

}

.artist-photo {
  display: inline-block;
  width: 25%;
}

.artists-list__item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1em;
  padding: 1.5em;
}

.artist-description {
  box-sizing: border-box;
  width: 30%;
  font-weight: 400;

}
